body {
    margin: 0;
    padding: 0;
}

.div-container {
    width: 700px;
    height: 700px;
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    
}

.grid-item {
    width: calc(6.25% - 10px);
    height: calc(6.25% - 10px);
    margin: 0; /* Adjust as needed */
    background-color: wheat; /* Adjust the background color as needed */
    border: 5px solid transparent;
  }
